.container {
  padding: 12px;
  margin-top: 80px;
}

.paper {
  padding: 12px;
}

.fullWidth {
  width: 100%;
}

.fixedHeight {
  min-height: 700px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  max-height: 300px;
  overflow: auto;
  margin: 12px;
}

.questionSpan {
  display: inline-block;
  margin-right: 12px;
}

.questionAnswer {
  min-width: 200px
}

.cell::after {
  display: block;
  content: attr(data-diff);
  color: #930000;
  text-decoration:line-through;
}
